#
# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
ft_min_word_len=2
wait_timeout    = 100
interactive_timeout    =  100
max_allowed_packet = 1000M